langchain
langchain-community
langchain-google-genai
langchain-groq
langchain-qdrant
langchain-core
langchain-tavily
langgraph
pypdf
pydantic
python-dotenv
requests
beautifulsoup4 
pandas 
lxml 
html5lib
together
qdrant-client
opik
fastapi
uvicorn
streamlit
assemblyai
audio-recorder-streamlit
cartesia
soundfile
google-generativeai
google-genai 
google-auth 
google-auth-oauthlib 
google-auth-httplib2
-e .