langchain
langchain-community
langchain-google-genai
langchain-groq
langchain-qdrant
langchain-core
langchain-tavily
langgraph
pypdf
pydantic
python-dotenv
requests
beautifulsoup4 
pandas 
lxml 
html5lib
-e .